@using Microsoft.AspNetCore.Components.Authorization

@inject IOptions<UserManagementPaths> UserManagementPaths
@inject NavigationManager Navigation
@inject ISignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <a href="@UserManagementPaths.Value.ProfileUrl">Hello, @context.User.Identity?.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="@UserManagementPaths.Value.RegistrationUrl">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
