@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <MauiNavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
